.back-edit-asset{
  position: absolute;
  top: 6px !important;  
  width: 70px;
  height: 30px;
  display: block;
  margin: 0 auto;     
  cursor: pointer;
  transition: transform 0.2s ease;
  z-index: 10;
}
.back-edit-asset:hover{
    transform: scale(1.1);
}
[dir='rtl'] .back-edit-asset{
    left:94%;
    right: auto;
    transform: scaleX(-1);
}
[dir='ltr'] .back-edit-asset{
    left:auto;
    right: 85%;
    transform: none;
}
.edit-asset{
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  min-height: 100vh;
  padding: 20px;
}
.edit-asset form{
  border-radius: 8px;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
  padding: 50px;
  background-color: #ffffff;
  width: 800px;
  max-width: 90%;
}
.edit-asset-grid{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2em; 
  margin-bottom: 1em;
  align-items: start;
  width: 100%;
  max-width: 900px;
}
.first-column{
  display: flex;
  flex-direction: column;
  gap: 1em;
  align-self: flex-start;
}
.sec-column{
  display: flex;
  flex-direction: column;
  gap: 1em;
  align-self: flex-start;
}

.edit-asset-grid .input-wrapper {
    min-height: 80px; 
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.edit-asset-grid .input-wrapper input, 
.edit-asset-grid .input-wrapper select {
    height: 45px;
    padding: 0.6em 1.2em;
    font-size: 1.1rem;
    box-sizing: border-box;
    margin: 0.5em 0; 
}
.edit-asset-grid .input-wrapper select{
  border-radius: 0.5rem;
  border: 1px solid #cbd5e0;
  
}
.attachments{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.submitbtn{
    width: 100%;
    background-color: black;
    font-size: 15px;
}
.add-attachment-input{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2em; 
    margin-bottom: 1em;
    align-items: start;
    width: 100%;
    max-width: 900px;
}
.add-attachment-input input{
    padding: 0.6em 1.2em;
    margin: 0.5em 0;
    border: 1px solid #cbd5e0;
    border-radius: 0.5rem;
    font-size: 1.1rem;
    box-sizing: border-box;
    background-color: white;
    height: 45px;
    width: 100%; 
}
.add-attachment-input button {
  padding: 0.6em 1.2em;
    margin: 0.5em 0;
    border: none;
    border-radius: 0.5rem;
    font-size: 1rem;
    box-sizing: border-box;
    background-color: black;
    color: white;
    height: 45px;
    cursor: pointer;
    width: 100%;
 }
 .add-attachment-input button:hover{
    background-color: #242323;
 }
 .attachments label{
  font-weight: bold; 
 }
.attachment-pills-container{
    display: flex;
    flex-wrap: wrap;
    gap:8px;
    margin-top: 5px;
    margin-bottom: 13px;
}
.attachment-pill{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    border: 1px solid #c3c6c9;
    border-radius: 2px;
    border-radius: 20px;
    padding: 4px 10px;
    font-size: 0.9rem;
    gap: 8px;
}
.attachment-pill span{
    color: white;
    font-weight: 500;
}
.remove{
    border: none;
    padding: 0;
    margin-bottom: 2px;
    background: none;
    color: white;
    cursor: pointer;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
}
.remove:hover{
    color: red;
}

.attachment-input-row {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2em; 
    margin-bottom: 1em;
    align-items: start;
    width: 100%;
    max-width: 900px;
}

.attachment-input-row input {
    padding: 0.6em 1.2em;
    margin: 0.5em 0;
    border: 1px solid #cbd5e0;
    border-radius: 0.5rem;
    font-size: 1.1rem;
    box-sizing: border-box;
    background-color: white;
    height: 45px;
    width: 100%; 
}

.attachment-input-row button {
    padding: 0.6em 1.2em;
    margin: 0.5em 0;
    border: none;
    border-radius: 0.5rem;
    font-size: 1rem;
    box-sizing: border-box;
    background-color: #dc3545;
    color: white;
    height: 45px;
    cursor: pointer;
    width: 100%;
}
.attachment-input-row button:hover{
    background-color: #f3011a;
}
.action-buttons{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2em; 
    margin-bottom: 1em;
    margin-top: 1em;
    width: 100%;
    max-width: 900px;
}
.action-buttons button,
.action-buttons a { 
    justify-self: center;
}

.action-buttons button{
    padding: 0.6em 1.2em;
    margin: 0.5em 0;
    border: none;
    border-radius: 0.5rem;
    font-size: 1rem;
    box-sizing: border-box;
    background-color: black;
    color: white;
    height: 45px;
    cursor: pointer;
    width: 20%;
}
.action-buttons button:hover{
    background-color: #242323;
}
.action-buttons .cancel{
    width: 100%;
    background-color: #dc3545;
}
.cancel button:hover{
    background-color: #f3011a;
}