.landing{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 150px
}
.landing-content{
  display: flex;
  flex-direction: column;
  border: 1px solid rgb(211, 203, 203);
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
  padding: 15px;
  background-color: white;
}
.landing-content p{
  font-size: 14px;
  color: rgb(112, 112, 112);
  margin-bottom: 30px
}
.landing-content button{
  border-radius: 6px;
  width: 380px;
  height: 30px;
  font-size: 16px;
  margin-bottom: 10px;
  background-color: #000000;
  color: white;
}
.landing-content button:hover{
  background-color: #242323;
}